.collection-thumb
  position: relative
  width: thumbWidth
  height: thumbHeight
  border: 4px solid bodyBackground

  img
    width: thumbWidth
    height: thumbHeight

  .files-count
    font-size: 24px
    text-align: center
    line-height: 55px
    position: absolute
    top: 30px
    left: 76px
    width: 50px
    height: 50px
    background: black
    opacity: 0.8
    border-radius: 25px

.select
  .collection-thumb
    border-color: blurredGray

.focus
  .select
    .collection-thumb
      border-color: selectedBlue
