.collection-thumb
  position: relative
  width: thumbWidth
  height: thumbHeight

  img
    width: thumbWidth
    height: thumbHeight

  .files-count
    font-size: 47px
    text-align: center
    line-height: 80px
    position: absolute
    top: 48px
    left: 105px
    width: 80px
    height: 80px
    background: black
    opacity: 0.7
    border-radius: 40px


.selected
  .collection-thumb
    border: 3px solid #6ac9cc