.collection-thumb
  position: relative
  width: thumbWidth
  height: thumbHeight
  border: 2px solid bodyBackground

  img
    width: thumbWidth
    height: thumbHeight

  .files-count
    font-size: 24px
    text-align: center
    line-height: 40px
    position: absolute
    top: 24px
    left: 52px
    width: 40px
    height: 40px
    background: black
    opacity: 0.8
    border-radius: 20px


.select
  .collection-thumb
    border: 2px solid #6ac9cc