.feed
  height: 147px
  padding-top: 12px
  border-top: 1px solid blurredGray

  >div
    float: left

  .user-col
    clear: left
    width: 40px

    img
      width: 31px

  .thumb-col
    width: 213px

  .description-col
    width: 228px
    font-size: 20px

    .name
      font-size: 24px