.feed
  height: 198px
  padding-top: 24px
  border-top: 1px solid blurredGray

  >div
    float: left

  .user-col
    clear: left
    width: 67px

    img
      width: 45px
      height: 43px

  .thumb-col
    width: 336px

  .description-col
    width: 300px