.files
  width: 450px + 30
  padding-left: 60px
  height: screenHeight
  overflow: hidden

  .files-container
    border-left: 1px solid blurredGray
    padding-left: 30px
    margin-top: 43px
    height: screenHeight

    .friend-row
      border-top: none
      padding-top: 0

      .name
        font-size: 30px
        line-height: 32px
        width: 423px
      .files-count
        font-size: 18px