.friend-row
  border-top: 1px solid blurredGray
  height: 24px
  padding-top: 9px
  line-height: 20px
  vertical-align: middle

  >div
    float: left

  .user-small
    width: 16px;
    height: 16px;
    margin-right: 10px

    img
      width: 16px
      height: 16px
