.sidebar
  float: left
  width: 316px
  border-right: 1px solid white
  margin-right: 45px
  padding-right: 95px
  height: 100%
  font-size: 36px

  h1
    color: white
    font-size: 32px

  .f
    display: block

    &.select
      text-decoration: underline

.main
  float: left
  width: 904px