.sidebar
  float: left
  width: 158px
  height: screenHeight
  border-right: 1px solid white
  margin-right: 22px
  padding-right: 47px
  font-size: 18px

  h1
    color: white
    font-size: 18px

  .f
    display: block

    &.select
      text-decoration: underline

.main
  float: left
  width: 450px

  > div
    height: screenHeight
    overflow: hidden

