.sidebar
  float: left
  width: 213px
  height: screenHeight
  border-right: 1px solid blurredGray
  margin-right: 30px
  padding-left: 62px
  margin-top: 37px
  font-size: 24px

  h1
    color: white
    font-size: 18px
    background: url(images/cloudee.png)
    width: 147px
    height: 31px
    margin: 0 2px 16px

  .f
    display: block
    border: 3px solid transparent
    border-radius: 20px
    padding: 4px 18px 0
    margin-top: 9px
    margin-left: 2px
    width: 135px

    &.select
      border-color: blurredGray
      background: url(images/arrow.png) no-repeat 90%

  .logout
    &.select
      background: none


.sidebar.focus
  .select
    border-color: selectedBlue

.main
  float: left

  h1
    margin: 35px 8px 6px
    font-size: 30px

  > div
    width: 481px
    height: screenHeight
    overflow: hidden

    .items
      width: 481px

.files-wrapper
  .activity
    width: 252px
  .collections, .friends
    width: 212px
