@font-face
  font-family:"DIN Next LT Pro Medium"
  src:url("fonts/3052c1e1-36c2-435b-ad3c-c3d7934c3afe.eot?iefix") format("eot")
@font-face
  font-family:"DIN Next LT Pro Medium"
  src:url("fonts/3052c1e1-36c2-435b-ad3c-c3d7934c3afe.eot?iefix")
  src:url("fonts/df23b79c-feed-400f-a14d-e42f03fb913a.woff") format("woff"),url("fonts/24a7a016-8c02-454e-9064-989a77587698.ttf") format("truetype"),url("fonts/89733ace-a346-4b4d-b835-99cabe8e5607.svg#89733ace-a346-4b4d-b835-99cabe8e5607") format("svg")
@font-face
  font-family:"DIN Next LT Pro Regular"
  src:url("fonts/9454e9b2-f907-46fa-9817-73b52754add3.eot?iefix") format("eot")
@font-face
  font-family:"DIN Next LT Pro Regular"
  src:url("fonts/9454e9b2-f907-46fa-9817-73b52754add3.eot?iefix")
  src:url("fonts/4eb3ea74-f082-4184-a2ac-186009373085.woff") format("woff"),url("fonts/20e34778-7003-429a-821a-20bcfd1b3a71.ttf") format("truetype"),url("fonts/8d7773d7-3013-4ff2-8d7b-2e23a9a5ec98.svg#8d7773d7-3013-4ff2-8d7b-2e23a9a5ec98") format("svg")

body
  background: bodyBackground
  color: blurredGray
  width: screenWidth
  height: screenHeight
  normal-font()

  a
    color: blurredGray
    text-decoration: none

.select
  color: focusedWhite
  a
    color: focusedWhite

.stack > *:not(.active)
  display: none
