body
  background: #020202
  color: blurredGray

  a
    color: blurredGray
    text-decoration: none

.select
  color: focusedWhite
  a
    color: focusedWhite

.stack > *:not(.active)
  display: none
